<div class="grid grid-cols-1 md:grid-cols-2 gap-8 m-8 reminders-content p-8">
    <div class="bg-white rounded-lg shadow overflow-hidden m-4">
        <div class="p-4 mb-6 border-b">
            <h3 class="text-xl font-semibold text-gray-700">Reminder Lists</h3>
            <p class="text-xs font-light text-gray-700">Total Count: {{ list_count }}</p>
        </div>
        <div class="divide-y m-4 reminder-list-list">
            {% for reminder_list in reminder_lists %}
                {% include "partials/reminders/list-row.html" %}
            {% endfor %}
            {% include "partials/reminders/new-list-row.html" %}
        </div>
    </div>
    <div class="bg-white rounded-lg shadow overflow-hidden m-4 reminders_content-items">
        {% if selected_list %}
        <div class="p-4 mb-6 border-b">
            <h3 class="text-xl font-semibold text-gray-700">{{ selected_list.name }}</h3>
            <p class="text-xs font-light text-gray-700">Total Count: {{ selected_list_count }} / In Progress: {{ working_count }} / Done: {{ done_count }}</p>
        </div>
        <div class="divide-y m-4">
            {% for reminder_item in selected_list.items %}
                {% include "partials/reminders/item-row.html" %}
            {% endfor %}
            {% include "partials/reminders/new-item-row.html" %}
        </div>
        {% endif %}
    </div>
</div>