<div
    class="flex items-center justify-between p-3 hover:bg-gray-100 cursor-pointer reminder-row{{ ' completed' if reminder_item.completed }}"
    data-id="reminder-item-row-{{ reminder_item.id }}"
    hx-target="this"
>
    <div class="flex {{ 'text-gray-400' if reminder_item.completed }}">
        {% if reminder_item.completed %}
        <img
                src="/static/img/icons/icon-check.svg"
                class="h-4 w-4 mr-2"
        />
        {% endif %}
        <p
                class="{{ 'line-through' if reminder_item.completed }}"
                hx-patch="/reminders/item-row-strike/{{ reminder_item.id }}"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target=".reminders-content"
        >{{ reminder_item.description }}
        </p>

    </div>
    <div class="flex items-center">
        <img
            src="/static/img/icons/icon-edit.svg" class="h-6 w-6 mr-2"
            hx-get="/reminders/item-row-edit/{{ reminder_item.id }}"
            hx-trigger="click"
            hx-swap="outerHTML"
        />
        <img
            src="/static/img/icons/icon-delete.svg" class="h-6 w-6"
            hx-delete="/reminders/item-row/{{ reminder_item.id }}"
            hx-trigger="click"
            hx-swap="outerHTML"
        />
    </div>
</div>