<!--<div class="reminder-row">-->
<!--  <p>{{ list_name }}</p>-->
<!--  <img class="h-6 w-6" src="/static/img/icons/icon-edit.svg" />-->
<!--  <img class="h-6 w-6" src="/static/img/icons/icon-delete.svg" />-->
<!--</div>-->

<div
    class="flex items-center justify-between p-3 hover:bg-gray-100 cursor-pointer text-gray-400"
>
    <p>{{ list_name }}</p>
    <div class="flex items-center">
        <img class="h-6 w-6 mr-2" src="/static/img/icons/icon-edit.svg" />
        <img class="h-6 w-6" src="/static/img/icons/icon-delete.svg" />
    </div>
</div>