<html>
<head>
    <title>Login | Foxy Reminders app</title>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
        <h1 class="text-blue-600 text-3xl font-medium mb-4">FOXY REMINDER</h1>
        <p class="text-gray-600 mb-4">Please login to access your reminders.</p>
        <img id="foxy-logo" src="/static/img/logos/foxy-raw.png" alt="Foxy logo" class="mx-auto mb-4">
        {% if invalid %}
            <div class="bg-red-100 text-red-500 p-4 rounded mb-4">
                <p>Invalid login! Please retry.</p>
            </div>
        {% endif %}
        <form action="/login" method="post" class="space-y-4">
            <div>
                <label for="username" class="block text-sm font-bold mb-2">Username</label>
                <input type="text" placeholder="Enter Username" name="username" required class="w-full p-2 border rounded">
            </div>
            <div>
                <label for="password" class="block text-sm font-bold mb-2">Password</label>
                <input type="password" placeholder="Enter Password" name="password" required class="w-full p-2 border rounded">
            </div>
            <div>
                <button id="login" type="submit" data-testid="login-button" class="w-full bg-blue-600 text-white p-3 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">Login</button>
            </div>
            {% if invalid %}
            <div class="invalid-login-warning">
                <p>Invalid login! Please retry.</p>
            </div>
            {% elif logged_out %}
            <div class="invalid-login-warning">
                <p>Successfully logged out.</p>
            </div>
            {% elif unauthorized %}
            <div class="invalid-login-warning">
                <p>Please login first.</p>
            </div>
            {% endif %}
        </form>
    </div>
</body>
</html>