<html>
<head>
    <title>Login | Foxy Reminders app</title>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm text-center">
        <h1 id="not-found-title" class="text-2xl font-bold text-gray-800 mb-4">Not found!</h1>
        <img id="bulldoggy-logo" src="/static/img/logos/foxy-raw.png" alt="Foxy logo" class="mx-auto mb-4">
        <p class="text-gray-600 mb-2">The page you requested does not exist.</p>
        <p class="text-gray-600">Please try again.</p>
    </div>
</body>
</html>