<html>
<head>
    <title>Reminders | Foxy Reminders app</title>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body class="bg-gray-100 bodyman">
    <!-- Navigation Bar -->
    <nav class="bg-white shadow-md">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between items-center"> <!-- Ensure vertical alignment -->
                <div class="flex space-x-4">
                    <!-- logo -->
                    <div>
                        <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <img id="foxy-logo" src="/static/img/logos/foxy-raw.png" alt="Foxy logo" class="h-8 w-8 mr-2">
                            <span id="foxy-title" class="font-bold">Foxy Reminders</span>
                        </a>
                    </div>
                    <!-- primary nav -->
                </div>
                <div class="hidden md:flex items-center space-x-1 justify-center">
                    <p id="reminders-message">Reminders for <span class="font-bold">{{ owner }}</span></p>
                </div>
                <!-- secondary nav -->
                <div class="flex items-center"> <!-- This div wrapper ensures alignment -->
                    <button
                        type="submit" class="md:flex items-center space-x-1"
                        hx-post="/logout"
                        hx-trigger="click"
                        hx-swap="none"
                    >
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </nav>
    {% include "partials/reminders/content.html" %}
</body>
</html>