<html>
<head>
    <title>Login | Reminders app</title>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
</head>
<body>
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">LOGIN HERE</h1>
    {% if invalid %}
        <div class="invalid-login-warning">
            <p>Invalid login! Please retry.</p>
        </div>
    {% endif %}
    <form action="/login" method="post">
        <div>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
        </div>
        <div>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>